html,
body {
  min-width: 290;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

#navbar {
  background-color: #44318d;
  overflow: hidden;
}

#navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #d93f87;
}

header h1 {
  color: white;
}

ul {
  list-style-type: none;
}

#main-doc {
  position: relative;
  margin-left: 250px;
  padding: 20px;
  margin-bottom: 110px;
}

h1 {
  text-align: center;
}

.color-name {
  font-size: larger;
  font-weight: 600;
  color: white;
}

.color-hex {
  color: white;
}

.colors-section,
.fonts-section,
.text-styles {
  border: 2px solid #99a2a2;
  padding: 10px;
}

.color {
  max-width: 400px;
  min-width: 200px;
  height: auto;
  text-align: center;
  display: inline-block;
  padding: 20px;
  line-height: 10px;
}

#cerise {
  background-color: #d93f87;
}

#blackcurrant {
  background-color: #2a1b3c;
}

#blue-gem {
  background-color: #44318d;
}

#deluge {
  background-color: #8265a7;
}

#casper {
  background-color: #a4b3b6;
}

.fonts-section {
  line-height: 10px;
}

.font-name {
  text-decoration: underline;
}

#sora {
  font-family: "Sora", sans-serif;
}

#open-sans {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-weight: 500;
  font-family: "Sora", sans-serif;
}

p {
  font-weight: 400;
  font-family: "Sora", sans-serif;
}
